<div class="app-content content" th:fragment="maincontent" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Statistics with grouped cards -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


