<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
        <h5>Bootstrap Input Style Form</h5>
        <p>Bootstrap Form using Floating Label fields.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning block btn-lg" data-toggle="modal" data-target="#bootstrap">
            Launch Modal
        </button>

        <!-- Modal -->
        <div class="modal fade text-left" id="bootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel35"> Modal Title</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <fieldset class="form-group floating-label-form-group">
                                <label for="email">Email Address</label>
                                <input type="text" class="form-control" id="email" placeholder="Email Address">
                            </fieldset>
                            <br>
                            <fieldset class="form-group floating-label-form-group">
                                <label for="title">Password</label>
                                <input type="password" class="form-control" id="title" placeholder="Password">
                            </fieldset>
                            <br>
                            <fieldset class="form-group floating-label-form-group">
                                <label for="title1">Description</label>
                                <textarea class="form-control" id="title1" rows="3" placeholder="Description"></textarea>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                            <input type="submit" class="btn btn-outline-primary btn-lg" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




